<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arena Point Society</title>
    <ul>
      <li><a href="{% url 'ADM_LOGIN' %}">Sou adm</a></li>
    </ul>

</head>
<body>
    <header>
        <h1>Arena Point Society</h1>
        <nav>
            <ul>
                <li><a href="{% url 'Matricula' %}">Matricular-se</a></li>
                <li><a href="{% url 'Volei' %}">Agendar Horario</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h2>Bem-vindo à Arena Point Society!</h2>
        <p>Esta é uma plataforma para gerenciar eventos e competições.</p>
    </main>

    <footer>
        <p>&copy; 2023 Arena Point Society. Todos os direitos reservados.</p>
    </footer>
